html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background: #000;
}
section.center {
  height: 100%;
  font-size: 0;
  text-align: center;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
section.center::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
section.center > form {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: #78aafa;
  max-width: 500px;
  text-align: left;
  padding: 2rem;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
}
section.center > form .hints {
  position: absolute;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 2rem;
  text-align: center;
}
section.center > form .hints span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 200;
  color: rgba(120,170,250,0.75);
  font-size: 1.3rem;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation-name: fadeInOut;
  -moz-animation-name: fadeInOut;
  -o-animation-name: fadeInOut;
  -ms-animation-name: fadeInOut;
  animation-name: fadeInOut;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
}
section.center > form .hints span:nth-child(1) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  animation-delay: 0;
}
section.center > form .hints span:nth-child(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}
section.center > form .hints span:nth-child(3) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  -ms-animation-delay: 8s;
  animation-delay: 8s;
}
section.center > form .hints span:nth-child(4) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
section.center > form .hints span:nth-child(5) {
  -webkit-animation-delay: 16s;
  -moz-animation-delay: 16s;
  -o-animation-delay: 16s;
  -ms-animation-delay: 16s;
  animation-delay: 16s;
}
section.center > form input[type='text'] {
  border: 1px solid rgba(120,170,250,0.75);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  color: rgba(120,170,250,0.75);
  width: 100%;
  height: 3rem;
  padding: 0 0.5rem;
}
section.center > form input[type='text']:focus {
  border: 1px solid #78aafa;
  color: #78aafa;
}
section.center > form input[type='submit'] {
  height: 3rem;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #78aafa;
  padding: 0 2rem;
  position: relative;
  left: -2px;
}
section.center > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
section.center > div .logo {
  display: inline-block;
  width: 25%;
  padding-bottom: 25%;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: scale(0.55) rotateX(-20deg);
  -moz-transform: scale(0.55) rotateX(-20deg);
  -o-transform: scale(0.55) rotateX(-20deg);
  -ms-transform: scale(0.55) rotateX(-20deg);
  transform: scale(0.55) rotateX(-20deg);
  position: relative;
  background: rgba(255,255,255,0.4);
}
section.center > div .logo .bottom,
section.center > div .logo .left,
section.center > div .logo .right,
section.center > div .logo .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-image: url("/img/cubeface.png");
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
}
section.center > div .logo .top {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
section.center > div .logo .top .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
  background-image: url("/img/cubeface.png");
  opacity: 0.95s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95s)";
  filter: alpha(opacity=95s);
}
section.center > div .logo .bottom {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
section.center > div .logo .left {
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
section.center > div .logo .right {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
@media screen and (max-width: 56rem) {
  section.center > div .logo {
    width: 40%;
    padding-bottom: 40%;
  }
}
section.center > div .logo:hover {
  -webkit-transform: scale(0.65) translateX(-20%) translateY(20%) rotateX(30deg) rotateY(30deg);
  -moz-transform: scale(0.65) translateX(-20%) translateY(20%) rotateX(30deg) rotateY(30deg);
  -o-transform: scale(0.65) translateX(-20%) translateY(20%) rotateX(30deg) rotateY(30deg);
  -ms-transform: scale(0.65) translateX(-20%) translateY(20%) rotateX(30deg) rotateY(30deg);
  transform: scale(0.65) translateX(-20%) translateY(20%) rotateX(30deg) rotateY(30deg);
}
section.center > div h1 {
  color: #78aafa;
  margin: 1rem;
  font-size: 2rem;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 100;
}
section.center > div img {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
section.center > div img:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@-moz-keyframes fadeInOut {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  25% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  25% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes fadeInOut {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  25% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  25% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
